@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@theme {
  --font-sans: "Inter", "system-ui", "Avenir", "Helvetica", "Arial", sans-serif;
}

body {
  background-color: var(--color-gray-50);
  color: var(--color-gray-900);
}